<app-header></app-header>

<head>
    <script src="https://kit.fontawesome.com/509096e8aa.js" crossorigin="anonymous"></script>
</head>

<div class="contact">

    <h1 class="h1"> Want to get in touch with me? </h1>

    <p class="p2"><i class="fas fa-phone"></i>(616) 634-6777 </p>

    <p class="p1"><i class="fas fa-envelope-square"></i>ajvelagic@gmail.com </p>

    <p class="p3"><i class="fab fa-github"></i>
        <a href="https://github.com/ajlajohnson" class="a1"> https://github.com/ajlajohnson </a> </p>

    <p class="p4"><i class="fab fa-linkedin"></i>
        <a href="https://linkedin.com/in/ajlajohnson" class="a2">
            https://linkedin.com/in/ajlajohnson</a></p>

</div>


<app-footer></app-footer>