.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name, .iam {
  display: flex;
  justify-content: center;
  font-size: 60px;
  background: -webkit-linear-gradient(#4d4038, #67554a, #6d92a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.name {
  padding-top: 80px;

}

.section {
  display: none;
}


  @media only screen and (min-width: 768px) {
    .cloud1 {
      width:200px;
      height:150px;
      border-radius: 0 0 50px 50px;
      background:
      /*                radius                            position  / 2xradius*/
      radial-gradient(35px 30px,#9f8170 98%,transparent 100%) 20% 30%  /70px    60px,
      radial-gradient(50px 45px,#9f8170 98%,transparent 100%) 50% 50%  /100px   90px,
      radial-gradient(50px     ,#9f8170 98%,transparent 100%) 100% 100%/100px   100px,
      radial-gradient(40px     ,#9f8170 98%,transparent 100%) 0 100%   /80px    80px,
      /* base of the cloud */
      linear-gradient(#9f8170,#9f8170) bottom/100% 40px;;
      background-repeat:no-repeat;
    }
  
    .cloud2 {
      width:200px;
      height:150px;
      border-radius: 0 0 50px 50px;
      background:
      /*                radius                            position  / 2xradius*/
      radial-gradient(35px 30px,#af9586 98%,transparent 100%) 20% 30%  /70px    60px,
      radial-gradient(50px 45px,#af9586 98%,transparent 100%) 50% 50%  /100px   90px,
      radial-gradient(50px    , #af9586 98%,transparent 100%) 100% 100%/100px   100px,
      radial-gradient(40px     ,#af9586 98%,transparent 100%) 0 100%   /80px    80px,
      /* base of the cloud */
      linear-gradient(#af9586,#af9586) bottom/100% 40px;;
      background-repeat:no-repeat;
    }
  
    .cloud3 {
      width:200px;
      height:150px;
      border-radius: 0 0 50px 50px;
      background:
      /*                radius                            position  / 2xradius*/
      radial-gradient(35px 30px,#dfd3cd 98%,transparent 100%) 20% 30%  /70px    60px,
      radial-gradient(50px 45px,#dfd3cd 98%,transparent 100%) 50% 50%  /100px   90px,
      radial-gradient(50px     ,#dfd3cd 98%,transparent 100%) 100% 100%/100px   100px,
      radial-gradient(40px     ,#dfd3cd 98%,transparent 100%) 0 100%   /80px    80px,
      /* base of the cloud */
      linear-gradient(#dfd3cd,#dfd3cd) bottom/100% 40px;;
      background-repeat:no-repeat;
    }
  
    .section{
      display: flex;
      justify-content: flex-end;
      margin-top: 10%;
      flex-wrap: wrap;
      flex: 1;  
      margin-right: 20%;
    }

    .about-me {
      flex:2;
      position: fixed;
      right: 55%;
      top: 25%;
    }
    
    .name {
      font-size: 90px;
    }
    
    .iam{
      padding: 0;
      margin: 0;
      font-size: 55px;
      padding-top: 20px;
      padding-left: 50px;
    }

  }


  

